* {
  margin: 0;
  padding: 0;
  list-style: none;
}

@font-face {
  font-family: "iconfont";
  src: url(iconfont.woff);
}

.icon-font {
  font-family: "iconfont";
}

.icon-naozhong:before {
  content: "\e63c";
}

.icon-sousuo:before {
  content: "\e604";
}

 $color-list: ("orange":left -2px bottom -2px, "pink":left -2px bottom -25px, "brown":left -2px bottom -50px, "yellow":left -2px bottom -78px, "blue":left -2px bottom -102px, "green":left -2px bottom -126px, "purple":left -2px bottom -150px);
      
     @each $color in map_keys($color-list) {
            .#{$color} {
             
              .wrap.active{
                  .neiyuan{
                      background: none;
                      background-color: $color !important;
                  }
                  
                  
              }
            }
          }

.continer {
  background: url("../img/back.png");
  .left {
    overflow-x: hidden;
    float: left;
    width: 30%;
    height: 100vh;
    border-right: 1px solid #747473;
    background: #383836;
    //padding: 0 6px;
    .header {
      //background: #383836;
      border-bottom: 2px solid #31312f;
      //margin-bottom: 2px;
      .icloud {
        color: #fff;
        line-height: 50px;
        font-size: 20px;
        margin-left: 6px;
      }
      .btn {
        background: none;
        border: none;
        color: #656564;
        font-size: 22px;
      }
      .new {
        display: block;
        color: #81817f;
        margin-right: 5px;
        float: right;
        font-size: 30px;
        line-height: 50px;
        cursor: pointer;
      }
    }
    .content {
      .planed {
        padding: 10px 15px;
        color: #b2b2b1;
        background: #383836;
        border-bottom: 1px solid #31312f;
        .icon-naozhong {
          font-size: 20px;
        }
        .word {
          font-size: 18px;
          margin-left: 5px;
          color: #E6E6E6 !important;
        }
      }
//    $color-list: ("orange":left -2px bottom -2px, "pink":left -2px bottom -25px, "brown":left -2px bottom -50px, "yellow":left -2px bottom -78px, "blue":left -2px bottom -102px, "green":left -2px bottom -126px, "purple":left -2px bottom -150px);
//    
//   @each $color in map_keys($color-list) {
//          .#{$color} {
//           
//            .wrap.active{
//                .neiyuan{
//                    background-position:map_get($color-list, $color) !important;
//                }
//                
//                
//            }
//          }
//        }
        
      
      .list-group {
        color: #b2b2b1;
        @each $color in map_keys($color-list) {
          .list-group-item {
            background: #383836;
            border-radius: 0;
            border: 0;
            font-size: 18px;
            padding-right: 0;
            cursor: pointer;
            &.active {
              background: #31312f;
            }
            //line-height: 49px;
            //padding-bottom: 0;
            &.#{$color} {
                
              .l {
                .circle {
                  background-position: map_get($color-list, $color);
                }
              }
            }
            .l {
              display: inline-block;
              .circle {
                vertical-align: middle;
                background: url(../img/circle.png) no-repeat center bottom;
                //background-position: left -2px bottom -2px;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;
              }
            }
            .r {
              width: 88%;
              display: inline-block;
              border-bottom: 1px solid #31312f;
              position: absolute;
              input {
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                border: 0;
                display: none;
                outline: none;
                z-index: 10;
                //line-height: ;
                &.active {
                  display: block;
                }
              }
              .word {
                visibility: visible;
                //line-height: 49px;
                &.active {
                  visibility: hidden;
                }
              }
              .badge {
                float: right;
              }
            }
          }
        }
      }
    }
  }
  $color: (orange:0px, pink:-25px, brown:-50px, yellow:-75px, blue:-100px, green:-125px, purple:-150px);
  
  
   @each $v in map_keys($color) {
            .#{$v} {
              color: $v !important;
              .wrap.active{
                  border: 2px solid $v !important;
                  
              }
               .neiyuan{
                     
                      background-color: $v !important;
                  }
            }
          }
  
  
  .right {
    width: 70%;
    float: right;
    .top {
      border-bottom: 2px solid #eaeaea;
      .input-group-addon {
        background: #f8f8f8;
        border: none;
        .icon-font {
          width: 100%;
          height: 100%;
          font-size: 20px;
        }
      }
      .form-control {
        border: none;
        outline: none;
        font-size: 20px;
        background: #f8f8f8;
      }
    }
    .content {
      .new-list {
        padding: 15px 0 5px 20px;
        font-size: 35px;
        border-bottom: 1px solid #eaeaea;
        color: #fd9333;
        position: relative;
        &:after {
          content: '';
          clear: both;
        }
        .new {
          float: left;
          @each $v in map_keys($color) {
            &.#{$v} {
              color: $v;
            }
          }

        }
        .build {
          font-size: 18px;
          color: #c37846;
          //line-height: 70px;
          float: right;
          margin-right: 30px;
          cursor: pointer;
        }
        .choose {
          background: #fff;
          width: 320px;
          height: 232px;
          box-shadow: 0 0 3px 3px #e9e9e9;
          padding: 3px;
          border-radius: 5px;
          position: absolute;
          right: 60px;
          top: -30px;
          z-index: 5;
          //display: none;
          visibility: hidden;
          &.active {
            //display: block;
            visibility: visible;
          }
          .content {
            border: 2px solid #f7f7f7;
            padding: 15px;
            input {
              width: 100%;
              font-size: 20px;
              //color: #fc9434;
              @each $v in map_keys($color) {
                &.#{$v} {
                  color: $v;
                }
              }
            }
            .list-color {
              margin-top: 15px;
              //text-space: ;
              font-size: 14px;
              color: #6e6e6e;
            }

            //$i:10
            //$border: ("orange":left 0 bottom -185px,"pink":left 0px bottom -220px,"brown":left 0px bottom -255px,"yellow":left 0px bottom -290px,"blue":left 0px bottom -325px,"green":left 0px bottom -360px,"purple":left 0px bottom -395px);
            .color {
              font-size: 20px;
              padding: 15px 0;
              border-bottom: 1px solid #f5f5f5;
              @each $v in map_keys($color) {
                .wrap {
                  width: 35px;
                  height: 35px;
                  margin-right: 3px;
                  text-align: center;
                  border-radius: 50%;
                  float: left;

                  &.active {
                    background: url(../img/circle.png) no-repeat;
                    background-size: 35px;
                    background-position: left 0 bottom -185px;
                  }
                  &:nth-child(2) {
                    &.active {
                      background-position: left 0 bottom -220px;
                    }
                  }
                  &:nth-child(3) {
                    &.active {
                      background-position: left 0 bottom -255px;
                    }
                  }
                  &:nth-child(4) {
                    &.active {
                      background-position: left 0 bottom -290px;
                    }
                  }
                  &:nth-child(5) {
                    &.active {
                      background-position: left 0 bottom -325px;
                    }
                  }
                  &:nth-child(6) {
                    &.active {
                      background-position: left 0 bottom -360px;
                    }
                  }
                  &:nth-child(7) {
                    &.active {
                      background-position: left 0 bottom -395px;
                    }
                  }
                  &.#{$v} {
                    span {
                      display: inline-block;
                      width: 25px;
                      height: 25px;
                      border-radius: 50%;
                      margin-top: 5px;
                      background: url(../img/circle.png) no-repeat center bottom;
                      background-position: left 0 bottom map_get($color, $v);
                    }
                  }
                }
              }
            }
            .caozuo {
              .btn {
                color: #0d87f6;
                &:hover {
                  text-decoration: none;
                }
                &:nth-child(1) {
                  color: #ff706f;
                  margin-right: 90px;
                }
                &:nth-child(3) {
                  font-weight: 100;
                  border-left: 1px solid #ccc;
                }
              }
            }
          }
        }
      }
      .complete {
        padding-left: 20px;
        border-bottom: 1px solid #eaeaea;
        .caret {
          border-top: 13px solid #ccc;
          border-right: 8px solid transparent;
          border-left: 8px solid transparent;
          cursor: pointer;
          transition: transform .5s ease;
          &.active {
            transform: rotate(-90deg);
          }
        }
        .already {
          display: inline-block;
          margin-left: 5px;
          color: #cfcfcf;
          font-size: 18px;
          line-height: 44px;
        }
        .del-all {
          float: right;
          color: #F89600;
          font-size: 18px;
          line-height: 44px;
          margin-right: 30px;
          cursor: pointer;
        }
      }
      .complete-list {
        //border-bottom: 1px solid #f2f2f2;
        ul {
          margin: 0;
          //margin-left: 20px;
          li {
            padding: 10px 20px;
            border-bottom: 1px solid #ebebeb;
            &.active {
              border-top: 1px solid #fab990;
              border-bottom: 1px solid #fab990;
              background: #faece1;
            }
            .wrap {
              width: 35px;
              height: 35px;
              text-align: center;
              border-radius: 50%;
              float: left;
              &.active {
                border: 2px solid #fc9434;
              }
              span {
                display: inline-block;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                margin-top: 3px;
//              background: url(../img/circle.png) no-repeat center bottom;
//              background-position: left 0px bottom 0px;
              }
            }
            .title {
              float: left;
              margin-left: 10px;
              font-size: 18px;
              line-height: 35px;
              background: transparent;
              border: 0;
              outline: none;
            }
          }
        }
      }
      .list {
        //border-bottom: 1px solid #f2f2f2;
        margin-top: 40px;
        ul {
          margin: 0;
          //margin-left: 20px;
          li {
            padding: 10px 20px;
            border-bottom: 1px solid #ebebeb;
            font-size: 20px;
            &.active {
              border-top: 1px solid #fab990;
              border-bottom: 1px solid #fab990;
              background: #faece1;
            }
            .wrap {
              width: 35px;
              height: 35px;
              text-align: center;
              border-radius: 50%;
              float: left;
              &.active {
                border: 2px solid #fc9434;
              }
            }
            .title {
              float: left;
              margin-left: 10px;
              font-size: 18px;
              line-height: 35px;
              background: transparent;
              border: 0;
              outline: none;
            }
            .del {
              float: right;
              margin-right: 40px;
              color: #fab990;
              display: none;
              cursor: pointer;
              &.active {
                display: block;
              }
            }
          }
        }
      }
      .new-item {
        padding: 10px 20px;
        border-bottom: 1px solid #ebebeb;
        font-size: 20px;
        &.active {
          border-top: 1px solid #fab990;
          border-bottom: 1px solid #fab990;
          background: #faece1;
        }
        .wrap {
          width: 35px;
          height: 35px;
          text-align: center;
          border-radius: 50%;
          float: left;
          visibility: hidden;
          &.active {
            border: 2px solid #fc9434;
          }
        }
        .title {
          float: left;
          margin-left: 10px;
          font-size: 18px;
          line-height: 35px;
          border: 0;
          outline: none;
          background: transparent;
          color: #AEAEAE;
          font-size: 18px;
        }
      }
    }
  }
}


             
             
                 
                  
                  
         